#gameDiv{
    font-family: cursive;
    border: 4px solid rgb(27, 27, 53);
    border-radius: 30px;
    padding: 30px;
    background-color: rgb(200, 248, 238);
    text-align: center;
    font-weight: bolder;
    
}
.choicebtn{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: black;
    color: antiquewhite;
    font-family: comic sans ms ,cursive;
    font-size: larger;
    font-weight: bolder;
}
.choicebtn:hover{
    border: 3px solid rgb(162, 244, 40);
    
}
#playerChoice{
    color: rgba(37, 210, 11, 0.858);
}
#computerChoice{
    color: darkred;
}
#resulttext{
    color: rgb(61, 42, 87);
   font-size: 40px;
    
}
#image{
    width: 400px;
    border:4px solid black;
    border-radius: 50%;
    height: 250px;
}
#image:hover{
    border-color: rgb(125, 6, 6);
    width: 420px;
}